
.srchList-container,.watchList-container {
     display: flex;
    justify-content: flex-start;
    gap: 0.6rem;
    flex-wrap: wrap; 
    padding-top: 1rem;
    min-height: calc(100vh - 2rem);
    margin-bottom: 0.5rem;
    max-width: 80%;
}

.srchList-wrapper,.watchList-wrapper {
    min-height: calc(100vh - 2rem);
}

@media screen and (max-width : 310px) {
    .srchList-container, .watchList-container {
        max-width: 95%;
    }
}

@media screen and (max-width : 767px) {
    .srchList-container, .watchList-container {
        max-width: 99%;
    }
}

@media screen and (max-width : 360px) {
    .srchList-container, .watchList-container {
        max-width: 99%;
    }
}