.card-wrapper1 {
  width: 98%;
  height: 16.5rem;
  background: none;

}

.card-wrapper1 img {
  margin: 0;
  height: 100%;
  max-height: 19rem;
  min-height: 19rem;
  object-fit: cover;
}

.card-content1 {
  height: 14rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  height: 100%;
}

.card-content1:hover {
  opacity: 0.7;
  background: linear-gradient(to right, #000, #333);
  /* filter: opacity(0.7); */
  cursor: pointer;
}

@media screen and (max-width: 310px) {
    .card-wrapper1 {
      max-width: 5rem;
    }
    .wrapper-img {
      min-height: 10rem;
      max-height: 10rem;
      max-width: 5rem;
      min-width: 5rem;
    }
  }

  @media screen and (max-width: 351px) {
    .card-wrapper1 {
      max-width: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 0.4rem;
    }
    .wrapper-img {
      min-height: 19rem;
      max-height: 19rem;     
      min-width: 100%;
    }
  }

  @media screen and (max-width: 400px) {
    .card-wrapper1 {
        max-width: 85% ;
        min-height: 22rem !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .wrapper-img {
        max-width: 85% ;
        min-height: 22rem !important;
      }
      
}
  

@media screen and (max-width: 421px) {
    .card-wrapper1 {
        min-width: 95% !important;
        max-width: none;
        min-height: 19rem ;
      }
      .wrapper-img {
        min-width: 95% !important;
        max-width: none;
        min-height: 19rem ;
      }
}

@media screen and (max-width: 490px) {
  .card-wrapper1 {
    min-width: 6.2rem;
    height: 19rem;

    
  }
  .wrapper-img {
    min-width: 6.2rem;
    height: 19rem;
  }
}

@media screen and (max-width: 520px) {
  .card-wrapper1,.wrapper-img {
    min-width: 95%;
    max-width: 95% ;
    height: 19rem;
  }
}


@media screen and (max-width: 704px) {
    .card-wrapper1 {
      max-width: 90% ;
      min-width: 90%;
      height: 19rem;
      

      
    }
    .wrapper-img {
      max-width: 90% ;
      min-width: 90%;
      height: 19rem;
      
    }
}

@media screen and (max-width: 767px) {
    .card-wrapper1 {
      width: 19rem;
    }
    .wrapper-img {
      width: 19rem;
    }
  }

@media screen and (max-width: 840px) {
  .card-wrapper1 {
    width: 15rem ;
    height: 19rem;
  }
  .wrapper-img {
    width: 15rem ;
    height: 19rem;
  }
  .card-content1 {
    visibility: hidden;
  }

}


